.animated

  .boat
    +single-transition(all, 120s )
    +scale(.8)
    +translate(-1800%, -80px)

  .shine
    +animation(shine 20s ease-in-out infinite)

  .sun
    +animation(sunshine 20s ease-in-out infinite)


+keyframes(shine)
  0%
    opacity: 0
  30%
    opacity: 1
  60%
    opacity: 0
  90%
    opacity: 1
  100%
    opacity: 0

+keyframes(sunshine)
  0%
    box-shadow: 0 0 100px 50px #ed9702
  30%
    box-shadow: 0 0 140px 90px #ed9702
  60%
    box-shadow: 0 0 100px 50px #ed9702
  90%
    box-shadow: 0 0 140px 90px #ed9702
  100%
    box-shadow: 0 0 100px 50px #ed9702
