---
title: Desenhando com CSS
description: descrição
css: beach
layout: project
---

<div class="area-top">
  <div class="sun"></div>
    <div class="shine">
      <div class="outer">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
  </div>
</div>
<div class="area-bottom">

  <div class="island">
    <div class="house">
      <span class="window"></span>
    </div>
    <div class="coconut-1">
      <span class="leaf-left"></span>
      <span class="leaf-right"></span>
    </div>
    <div class="coconut-2">
      <span class="leaf-left"></span>
      <span class="leaf-right"></span>
      <span class="coccus"></span>
    </div>
  </div>

  <div class="boat">
    <span class="sail"></span>
  </div>
</div>
