---
title: Desenhando com CSS
description: descrição
css: beach
layout: project
---

<div class="area-top">
  <div class="sun"></div>
    <div class="shine">
      <div class="outer">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
  </div>
</div>
<div class="area-bottom">

  <div class="boat">
    <span class="sail"></span>
  </div>
</div>
